<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jessi.tae">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <uses-library android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCRyKEAgoSezchqNx1s5m2CozYv4YvQyoA"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".terminologiaActivity" />
        <activity android:name=".partescuerpoActivity" />
        <activity android:name=".registrarseActivity" />
        <activity android:name=".recuperarActivity" />
        <activity android:name=".principalActivity" />
        <activity android:name=".historiaActivity" />
        <activity android:name=".saludoActivity" />
        <activity android:name=".ponercinturonActivity" />
        <activity android:name=".nivelescinturonActivity" />
        <activity android:name=".amarilloActivity" />
        <activity android:name=".amarilloposicionesActivity" />
        <activity android:name=".amarilloataquesActivity" />
        <activity android:name=".amarillodefensasActivity" />
        <activity android:name=".amarillopatadasActivity" />
        <activity android:name=".amarillopoomseActivity" />
        <activity android:name=".naranjaActivity" />
        <activity android:name=".naranjaposicionesActivity" />
        <activity android:name=".naranjaataquesActivity" />
        <activity android:name=".naranjadefensasActivity" />
        <activity android:name=".naranjapatadasActivity" />
        <activity android:name=".naranjapoomseActivity" />
        <activity android:name=".verdeActivity" />
        <activity android:name=".verdeposicionesActivity" />
        <activity android:name=".verdeataquesActivity" />
        <activity android:name=".verdedefensasActivity" />
        <activity android:name=".verdepatadasActivity" />
        <activity android:name=".verdepoomseActivity" />
        <activity android:name=".verdepumActivity" />
        <activity android:name=".azulActivity" />
        <activity android:name=".azulposicionesActivity" />
        <activity android:name=".azulataquesActivity" />
        <activity android:name=".azuldefensasActivity" />
        <activity android:name=".azulpatadasActivity" />
        <activity android:name=".azulpoomseActivity" />
        <activity android:name=".azulpumActivity" />
        <activity android:name=".marronActivity" />
        <activity android:name=".marronposicionesActivity" />
        <activity android:name=".marronataquesActivity" />
        <activity android:name=".marrondefensasActivity" />
        <activity android:name=".marronpatadasActivity" />
        <activity android:name=".marronpoomseActivity" />
        <activity android:name=".marronpumActivity" />
        <activity android:name=".negroActivity" />
        <activity android:name=".negroposicionesActivity" />
        <activity android:name=".negroataquesActivity" />
        <activity android:name=".negrodefensasActivity" />
        <activity android:name=".negropatadasActivity" />
        <activity android:name=".negropoomseActivity" />
        <activity android:name=".negropumActivity" />
        <activity android:name=".frasesActivity" />
        <activity android:name=".sobrenosotrosActivity" />
        <activity android:name=".federacionesActivity" />
        <activity android:name=".reglamentoActivity" />
        <activity android:name=".mapaActivity" />
    </application>

</manifest>